/GenerateLinqDB/GenerateLinqDB/obj
/GenerateLinqDB/GenerateLinqDB/bin
/GenerateLinqDB/LinqDB/LinqDB.vbproj.user
/GenerateLinqDB/LinqDB/bin
/GenerateLinqDB/LinqDB/obj
/QueueSharp-DIP-AEC/QueueSharp-DIP-AEC.v12.suo
/QueueSharp-DIP-AEC/QueueSharpQC.v12.suo
/RefObj/Engine/obj
/RefObj/Engine/bin
/RefObj/Engine/Engine.vbproj.user
